* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.main-content {

    height: auto;
    /* box-shadow: 20px 20px 80px 0px rgba(196, 194, 194, 0.75); */
    justify-content: center;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;

}

.container {
    width: auto;
    height: auto;
    display: flex;
    padding: 40px;
    gap: 70px;
    box-sizing: border-box;
}

.gcontent {
    display: flex;
    gap: 20px;
    box-sizing: border-box;
}


img {
    width: 220px;
    height: 220px;
}

.title {

    margin-bottom: 5px;
}

.description-container {
    display: block;
    width: 400px;
    height: auto;

}

.description {
    height: auto;
    text-align: justify;


}

.etrafli {
    font-size: 20px;
    text-decoration: none;
    margin-top: 10px;
    border: 0px;
    background-color: white;

}

.etrafli-link {
    text-decoration: none;
    color: black;
    
}